@model QLSNT.Models.TinhMoi

@{
    ViewData["Title"] = "Xóa Tỉnh mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa Tỉnh mới</h1>

<h4>Bạn có chắc chắn muốn xóa tỉnh sau?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-3">Mã tỉnh</dt>
    <dd class="col-sm-9">@Model.MaTinhMoi</dd>

    <dt class="col-sm-3">Tên tỉnh</dt>
    <dd class="col-sm-9">@Model.TenTinhMoi</dd>

    <dt class="col-sm-3">Loại tỉnh</dt>
    <dd class="col-sm-9">@Model.LoaiTinh</dd>

    <dt class="col-sm-3">Trạng thái</dt>
    <dd class="col-sm-9">@Model.TrangThai</dd>

    <dt class="col-sm-3">Ghi chú</dt>
    <dd class="col-sm-9">@Model.GhiChu</dd>
</dl>

<form asp-action="Delete" method="post" class="mt-3">
    <input type="hidden" asp-for="MaTinhMoi" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Hủy</a>
</form>
